# Gradle #
.gradle
build/

.idea/workspace.xml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml

### Java ###
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea/compiler.xml
.idea/compiler.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/gradle.xml
.idea/modules/sandbox_test.iml
.idea/modules.xml
addressbook-web-tests/build/distributions/sandbox.tar
addressbook-web-tests/build/distributions/sandbox.zip
addressbook-web-tests/build/scripts/sandbox
addressbook-web-tests/build/tmp/jar/MANIFEST.MF
.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
